pipeline/API Pagination.json
{
	"name": "API Pagination",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-api-key": "reqres_40c7ece839894628b7aa512878422cab"
					},
					"url": "https://reqres.in/api/users",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['first_name']"
											},
											"sink": {
												"name": "first_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['last_name']"
											},
											"sink": {
												"name": "last_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['avatar']"
											},
											"sink": {
												"name": "avatar",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource2",
									"type": "DatasetReference",
									"parameters": {
										"pagenumber": {
											"value": "?page=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-04T14:37:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}